<% layout('layout') 
-%>

<div id="config" class="home">
	<h1>CONFIG</h1>

	<div id="c_general">
		<h2>General</h2>
		<div id="login" class="c_block">
			<span>Login</span>
			<input type="text" placeholder="Admninistrator...">
		</div>
		<div id="password" class="c_block">
			<span>Password</span>
			<input type="text" placeholder="MyStrongPassword..." >
		</div>
		<div id="authen" class="c_block">
			<span>Enable authentification</span>
			<input type="checkbox" id="e" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
		</div>
	</div><div style="clear:both"></div>
	
	<div id="c_notif">
		<h2>Notifications services</h2>
		<div id="mail" class="c_block">
			<span>Mail</span>
			<input type="text" placeholder="email@example.com">
		</div>
	</div><div style="clear:both"></div>
	
	
	<div id="c_database">
		<h2>Database</h2>
		<div id="aqwawq">
			<div id="host" class="c_block">
				<span class="fa-stack fa-lg" id="a" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><i class="fa fa-info fa-stack-1x"></i><i class="fa fa-circle-o fa-stack-2x"></i></span><span>Host</span>
				<input type="text" placeholder="localhost...">
			</div>
			<div id="username" class="c_block">
				<span class="fa-stack fa-lg" id="b" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><i class="fa fa-info fa-stack-1x"></i><i class="fa fa-circle-o fa-stack-2x"></i></span><span>Username</span>
				<input type="text" placeholder="Username...">
			</div>
			<div id="password" class="c_block">
				<span class="fa-stack fa-lg" id="c" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><i class="fa fa-info fa-stack-1x"></i><i class="fa fa-circle-o fa-stack-2x"></i></span><span>Password</span>
				<input type="text" placeholder="Password...">
			</div>
			<div id="table_name" class="c_block">
				<span class="fa-stack fa-lg" id="d" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><i class="fa fa-info fa-stack-1x"></i><i class="fa fa-circle-o fa-stack-2x"></i></span><span>Table name</span>
				<input type="text" placeholder="Table Name...">
			</div>
		</div>
		<div id="type" class="c_block">
			<span>Type</span><span class="fa-stack fa-lg" style="left: 312px !important;" id="f" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><i class="fa fa-info fa-stack-1x"></i><i class="fa fa-circle-o fa-stack-2x"></i></span>
			<select name="" id="">
				<option value="" disabled selected>Select DB type...</option>
				<option value="">lol</option>
			</select>
		</div>
	</div><div style="clear:both"></div>
	
	<div id="c_logsfiles">
		<h2>Logs files</h2>
		<div id="logs_files" class="c_block">
			<span>Logs files</span>
			<input type="text" placeholder="/etc/passwd">
		</div>
	</div><div style="clear:both"></div>
	
	<div id="c_performance">
		<h2>Performance</h2>
		<div id="global_timer" class="c_block">
			<span>Global's Timer</span>
			<input type="range" name="points" min="1" max="100" value="2" onchange="document.getElementById('valeur').innerHTML=this.value" onload="document.getElementById('valeur').innerHTML=this.value"><span id="valeur"></span>
		</div>
		<div id="logs_timer" class="c_block">
			<span>Log's Timer</span>
			<input type="range" name="points" min="1" max="100" value="2" onchange="document.getElementById('valeur1').innerHTML=this.value" onload="document.getElementById('valeur1').innerHTML=this.value"><span id="valeur1"></span>
		</div>
	</div><div style="clear:both"></div>

</div>
<script src='js/config.js'></script>