<% layout('layout') 
-%>
<div class="home" id="boite_cpu">
<br/><br/>
	<div class="diviser">
		<div class="ligne"></div>
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x"></i>
		</span>
	</div>
<br/><br/>
	<div class="diviser">
		<div class="ligne"></div>
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-minus fa-stack-1x"></i>
		</span>
	</div>
	<div id="cpuInfos"></div>
	<div id="cpuStatsTable"></div>
	<div id="cpuInfosTable"></div>
</div>