<% layout('layout') -%>
<div class="home" id="boite_cpu">
	<h1>CPU</h1>
	<canvas id="cpuChart" width="300" height="300"></canvas>
	<div id="cpuValue"></div>
</div>

<div class="home" id="boite_ram">
	<h1>RAM</h1>
<!-- 	<div id="memoryChart"></div> -->
	<canvas id="memoryChart" width="1000" height="300"></canvas>
</div>

<div class="home" id="boite_disk">
	<h1>DISK</h1>
	<div id="diskTable"></div>
	<div id="disk-used"></div>
</div>

<div class="home" id="boite_network">
	<h1>NETWORK</h1>
	<canvas id="networkChart" width="1000" height="300"></canvas>
</div>