<% layout('layout') -%>
<div class="home" id="boite_ram">
	<h1>RAM</h1>
	<h2>Last minute :</h2>
	<canvas id="memoryChart" width="1000" height="300"></canvas>
	<div id="memoryTable"></div>
</div>