.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


html, body {
	min-width: 330px !important;
	min-height: 555px !important;
}

#media {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	margin-top: -50px;
}

#media a {
	color: #5F6F81;
	text-decoration: none;
}

#media a:hover {
	color: #FFFFFF;
}

/************************************************************** MAIN **************************************************************/

#main {
	padding: 60px 0px;
}

#boite_disk, #boite_cpu, #boite_ram, #boite_network, #boite_logs {}

#boite_cpu {
	/*display: none;*/
}

#boite_network {
	margin-bottom: 0px !important;
}

#demo {
	padding: 20px;
	color: white;
}

.controls > label {
	width: 150px;
	display: inline-block;
	margin: 7px;
}

.home {
	background-color: #F4F4F4;
	width: 1344px;
	margin: 60px auto;
	border-style: solid;
	border-color: #BDBDBD;
	border-width: 1px 3px;
	padding: 15px 55px;
	overflow: auto;
	text-align: center;
}

.home > h1 {
	color: #5F6F81;
	font-weight: 700;
	font-size: 16px;
	border-bottom: 2px solid #37474F;
	margin: 0;
	line-height: 28px;
	margin-bottom: 20px;
	text-align: left;
}

li#li_thx {
	box-shadow: 0px 0px #C6D0DA inset !important;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#heure {
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 20px;
	width: 64px;
	font-size: 16px;
	font-weight: 700;
	color: #34495E;
	z-index: 10000;
}

table {
    border-collapse: collapse;
	margin: auto;
	text-align: left;
}

td, th {
    /* border: 3px solid #34495E; */
    border: 3px solid #E8E8E8;
	padding: 7px 15px;
	width: 186px;
	/* background-color: #FFC107; */
	background-color: #F4F4F4;
	color: #34495E;
	text-transform: uppercase;
	height: 40px;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Trebuchet MS;
}

@media screen and (max-width: 1280px) {
#heure {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: 0px;
	background-color: #fff;
	border-bottom: 1px solid #C6D0DA;
}

.gn-menu-main {
	top: 30px;
}

.gn-menu-wrapper.gn-open-all {
	margin-top: 30px;;
}

.gn-menu-wrapper.gn-open-part {
	margin-top: 30px;;
}

/* end media */
}

@media screen and (max-width: 1440px) {
.home {
	width: 80%;
}

/* end media */
}

@media screen and (max-width: 900px) {
#main {
	padding: 90px 0px;
}

td, th {
	padding: 2px;
	font-size: 10px;
	height: 20px;
	letter-spacing: 0px;
}

.home {
	padding: 10px;
	width: 95%;
	margin: 10px auto;
	overflow: auto;
}

#mp_box {
	display: block;
}
/* end media */
}

/* @media screen and (max-width: 850px) {
#monitorjs {
	display: block;
}
} */

@media screen and (max-width: 800px) {
#mp_box, #monitorjs {
	display: none;
}
#thx {
	left: -65px;
}

.box {
	float: none;
}

.box > span {
	font-size: 12px;
}

.gn-menu-main > li > a {
	padding: 0px 10px;
}

.gn-menu-main > li.gn-trigger > a {
	padding: 0px 30px;
}

.gn-menu-main {
	top: -30px;
	position: relative;
}

#heure {
	position: relative !important;
	top: -30px;
}

#main {
	padding: 0px;
}
/* end media */
}

@media screen and (min-width: 500px) and (max-width: 800px) {
#monitorjs {
	display: block;
}
}

/************************************************************** CPU **************************************************************/

.ligne {
	width: 100%;
	height: 3px;
	background-color: #34495E;
}

/* .boule {
	height: 32px;
	width: 32px;
	background-color: #34495E;
	border-radius: 100px;
	position: relative;
	left: 94%;
	top: -16px;
} */

.diviser > .fa-stack {
	position: relative;
	right: 20px;
	top: -23px;
	float: right;
}

.fa-circle {
	color: #34495E;
}

.fa-plus, .fa-minus {
	color: white;
}

/************************************************************** CONFIG **************************************************************/

#config {
	max-height: initial !important;
	border: 3px solid #BDBDBD;
	text-transform: uppercase;
	min-width: 480px;
}

#c_general, #c_notif, #c_database, #c_logsfiles, #c_performance {
	text-align: left;
}

h2 {
	color: #5F6F81;
	font-weight: 700;
	font-size: 14px;
	margin-top: 10px;
	text-align: left;
}

.c_block > span {
	font-size: 12px;
	/* background-color: #eee; */
	color: #5F6F81;
}

.c_block > input, select {
	float: right;
	border: 2px solid #BDC3C7;
	font-size: 12px;
	padding: 10px;
	color: #BDC3C7;
	height: 38px;
	width: 210px;
}

input[type="checkbox"] {
	width: auto;
	margin: 13px auto;
	height: auto;
}

.c_block {
	line-height: 36px;
	/* padding-left: 20px; */
	/* background-color: #fff; */
	margin: 15px 38px;
	width: 332px;
	float: left;
	/* background-color: #DCDCDC; */
}

#aqwawq > .c_block > span {
	position: relative;
	left: -24px;
}


#c_performance > .c_block > span {
	width: 96px;
	display: inline-block;
}

/* #c_database > .c_block {
	float: none;
} */

/* #type {
	float: left !important;
} */

#aqwawq > .c_block {
	float: none;
}

#aqwawq {
	float: left;
}

.c_block > .fa-stack {
	/* color: #BDC3C7 !important; */
	position: relative !important;
	top: 0px !important;
	left: 342px !important;
	cursor: help;
}

#valeur, #valeur1 {
	position: relative;
	left: 245px;
	display: initial !important;
}

/************************************************************** TRIGGER **************************************************************/

#trigger {
	width: 55px;
	height: 55px;
	background-color: #fff;
	position: fixed;
	bottom: 40px;
	right: 40px;
	line-height: 48px;
}

.fa-arrow-down, .fa-arrow-up {
	color: #34495E;
	position: relative;
	top: 10px;
	left: 12px;
}

/************************************************************** MENU+SIDEBAR **************************************************************/

.gn-menu-main {
	z-index: 9999;
}

#infos {
	float: left;
	padding: 0px 20px;
	/* width: 225px; */
}

#ip_server, #nb {
	text-align: left;
	line-height: 28px;
}

#ip_server > span {
	color: #3B75AD;
	font-weight: 700;
}

#nb > span {
	color: #3B75AD;
	font-weight: 700;
}

#number {
	color: #5F6F81 !important;
	font-weight: 300 !important;
}

#mp_box {
	float: right;
	border-left: 1px solid #C6D0DA;
}

#thx {
	text-align: center;
	font-size: 12px;
	color: #ACBCCE;
	line-height: 17px;
}

#thx:hover a {
	color: #9EAEC0;
}

#thx  a {
	display: inline;
}

#thx  a:hover {
	color: #5F6F81;
}

.gn-submenu li {
	/* height: auto; */
}


i {
	width: 60px;
	display: inline-block;
}


ul.gn-menu > li > a:hover {
	border-left: 3px solid #80BD01;
}


.color {
	float: left;
	margin: 5px 20px;
	line-height: 12px;
	width: 10px;
	height: 10px;
	color: white;
	font-weight: bold;
	/* border: 1px solid #34495E; */
	/* border: 1px solid black; */
	border-radius: 100px;
	box-shadow: 0px 0px 5px black;

}

.color > span {
	font-size: 12px;
	color: #34495E;
	position: relative;
	top: -2px;
	left: 15px;
	font-family: Arial;
}

#green { background-color: green; box-shadow: 0px 0px 1px green;}
#orange { background-color: orange; box-shadow: 0px 0px 1px orange;}
#red { background-color: red; box-shadow: 0px 0px 1px red; margin-right: 40px;}


#choix_annees {
  text-align: right;
}

#boite_analytics .btn-group {
  margin-bottom: 20px;
}

#boite_analytics .btn {
  border-radius: 0;
  border: 3px solid #E8E8E8;
}

#boite_analytics .btn:hover {
  background: #34495E;
  color: #F4F4F4;
}
